<fieldset>
    <legend><b>Profile</b></legend>
    <table class="table table-bordered">
    <tbody><tr>
    <td style="width: 25%; text-align: right;">Full name&nbsp;</td>
    <td>
    <span id="ctl00_mainContent_lblFullname">Nguyễn Thị Hà Trang</span></td>
    </tr>
    <tr>
    <td style="text-align: right">Date of birth&nbsp;</td>
    <td>
    <span id="ctl00_mainContent_lblDateOfBirth">05/10/2002</span></td>
    </tr>
    <tr>
    <td style="text-align: right">Gender&nbsp;</td>
    <td>
    <span id="ctl00_mainContent_lblGender">Female</span></td>
    </tr>
    <tr>
    <td style="text-align: right">ID Card&nbsp;</td>
    <td>
    <span id="ctl00_mainContent_lblIDCard">187935565</span></td>
    </tr>
    <tr>
    <td style="text-align: right">Address&nbsp;</td>
    <td>
    <span id="ctl00_mainContent_lblAddress">Thôn Tân Bình - xã Bình Sơn - huyện Anh Sơn - tỉnh Nghệ An</span></td>
    </tr>
    <tr>
    <td style="text-align: right">Phone number&nbsp;</td>
     <td>
    <span id="ctl00_mainContent_lblPhoneNumber">0328772955, 0328772955</span></td>
    </tr>
    <tr>
    <td style="text-align: right">Email&nbsp;</td>
    <td>
    <span id="ctl00_mainContent_lblEmail"><a href="mailto:TrangNTHHE163554@fpt.edu.vn">TrangNTHHE163554@fpt.edu.vn</a></span></td>
    </tr>
    <tr>
    <td style="text-align: right">Date of issue&nbsp;</td>
    <td>
    <span id="ctl00_mainContent_lblDateOfIssue">23/09/2019</span></td>
    </tr>
    <tr>
    <td style="text-align: right">Place of issue&nbsp;</td>
    <td>
    <span id="ctl00_mainContent_lblPaleOfIssue">Nghệ An</span></td>
    </tr>
    </tbody></table>
    </fieldset>